.main{
    margin: 1.5rem;
    .content{
        .left-side{
            padding-left: 10rem;
            h1{color: blue;}
            p{color: red;}            
        }
        .divider{
            background-color: aqua;
            height: 2px;
            margin: 1rem;
        }
        .right-side{
            padding-left: 10rem;
            .ddlCls{
                margin-top: 1rem;
            }
            button{
                margin-top: 1rem;
                padding: 1rem;
                color: maroon;
                font-size: 15px;
            }
        }
    }
}