
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p [hidden]="hideTitle">Congratulations!</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="ddlCls" *ngIf="months.length > 0"> Months :
        <select>
           <option *ngFor="let i of months">{{i}}</option>
        </select>
     </div>
     <button (click)="myToggle($event)">
      Click for Toggle
    </button>
    </div>
  </div>
</main>


<router-outlet />
